.cause.bg__cause
	.container
		.row
			.col-xs-14.col-sm-7.bg__yellow
				.cause__item
					.cause__first.dark
						h2.cause__title
							| Во-первых
						.cause__divider.divider.divider-white
						.cause__desc
							| Вы открыли сайт, а значит мы 
							br.visible-xs
							| умеем привлекать внимание, 
							br.visible-xs
							| что крайне важно в любых 
							br.visible-xs
							| продажах!
			.col-xs-14.col-sm-7.bg__dark
				.cause__item
					.cause__last.white
						h2.cause__title
							| Во-вторых
						.cause__divider.divider.divider-yellow
						.cause__desc
							| Ваш новый источник продаж 
							br.visible-xs
							| действительно будет готов 
							br.visible-xs
							| к 
							span.set-month
								| 04.09
							| , стоит лишь уделить 
							br.visible-xs
							| пару минут на чтение 
							br.visible-xs
							| и обсудить детали сегодня. 
							br.visible-xs 
							| Никаких предоплат! Деньги 
							br.visible-xs
							| понадобятся лишь когда Вы 
							br.visible-xs
							| увидите и утвердите результат.
