.detail.bg__detail.white#detail
	.container
		.row
			.col-xs-14
				h2.detail__title
					| Детали
				.detail__divider.divider.divider-yellow
				p.detail__slogan
					| Дочитали до деталей? 
					br
					| Видите, мы не только 
					| привлекаем, но и 
					| удерживаем внимание! 
					br.visible-xs
					| :)
		.row
			.col-xs-14.col-sm-7
				.detail__place.detail__place-1
					p.detail__place-1-slogan-1
						| Если Вы 
						b.yellow
							| хотите увеличить продажи
						| , не покупая при этом «кота в мешке»,
					a.btn.detail__place-1-btn(href="https://goo.gl/forms/fzP7uP7JftgIA06X2" target="_blank", onclick="yaCounter39507400.reachGoal('profile')")
						| заполните Анкету
						span.i-btn-arrow-1
					p.detail__place-1-slogan-2
						| чтобы мы рассчитали точную стоимость создания лэндинга и приступили к его разработке 
						| уже завтра. 
					p.detail__place-1-slogan-3
						b.yellow
							| Оплата только после того, 
							| как Вы убедитесь в 
							br.visible-xs
							| результате!
			.col-xs-14.col-sm-7
				.detail__place.detail__place-2
					p.detail__place-2-slogan-1
						| Если же у Вас остались вопросы, на них оперативно ответят наши специалисты:
					a.btn.detail__place-2-btn-1.fancy(href="#call")
						| заказать обратный звонок
						span.i-btn-arrow-2
					a.btn.detail__place-2-btn-2.fancy(href="#mail")
						| Написать e-mail
						span.i-btn-arrow-1
