footer.foo#foo
	.container
		.row
			.col-xs-14
				.foo__container
					p.foo__copy
						| Интернет-студия "Легиан"
						br.xs-visible
						| Работаем по всей России
					.foo__contact
						p.foo__line
							a.i-phone.foo__icon(href="tel:+78124094715")
							a(href="tel:+78124094715")
								| +7 (812) 409-47-15
						p.foo__line
							a.i-mail.foo__icon(href="mailto:info@zakaz-landing.ru")
							a(href="mailto:info@zakaz-landing.ru")
								| info@zakaz-landing.ru
						p.foo__line
							span.i-target.foo__icon
							| Россия, Санкт-Петербург, проспект Наставников, 36к1
