title Заказать лендинг
meta(charset="UTF-8")
meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(content="telephone=no", name="format-detection")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
link(rel="icon", href="favicon.ico")
link(rel="SHORTCUT ICON", href="favicon.ico")
link(rel="stylesheet", href="css/bootstrap.css?version=2")
link(rel="stylesheet", href="css/style.css?version=2")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
meta(name="yandex-verification", content="baba12daf9ce6c7c")