main.main.bg__main
	.container
		.row
			.col-xs-14
				.main__divider-1.divider.divider-yellow
				.main__date.clearfix
					h4.main__subtitle-1.text-uppercase.white
						| Ваш проект будет готов
					h1.main__title.yellow
						| 04.09.16
					h5.main__subtitle-2.text-uppercase.white
						| осталось согласовать детали
				.divider.divider-yellow.main__divider-2
				.main__desc.white
					p
						| Да, с одной стороны, 
						br.visible-xs
						| Вы ещё не заказали лэндинг, 
						br.visible-xs
						| а лишь перешли на наш сайт. 
						span.hidden-xs
							| Значит заголовок весьма спорный. 
					p.visible-xs
						| Значит заголовок весьма спорный. 
					p
						| С другой – есть сразу два «но»: 
				.main__arrow.i-divider-arrow