.minus.bg__minus.white
	.container
		.row
			.col-xs-14
				p.minus__slogan
					| Минус заключается в том, что мы не «Компания с мировым именем», затрачивающая космические суммы на рекламу. Но отсюда же 
					| вытекает ещё два преимущества:
			.col-xs-14.col-lg-7
				.read__item.read__item-5
					header.read__item-header.clearfix
						.read__item-icon.read__item-noicon.pull-left
							| 1
						.read__item-title
							| Мы не вкладываем 
							br
							| рекламные издержки в 
							br
							| стоимость работ.
					.read__item-desc.read__item-desc--minus
						| Лэндинги нашего уровня у других стоят в разы дороже.
			.col-xs-14.col-lg-7
				.read__item.read__item-6
					header.read__item-header.clearfix
						.read__item-icon.read__item-noicon.pull-left
							| 2
						.read__item-title
							| Работаем на результат, чтобы нас советовали друзьям и партнёрам. 
					.read__item-desc.read__item-desc--minus
						| Ведь рекомендации – лучший вариант рекламы.
