nav.nav
	.container
		.row
			.col-xs-14
				ul.nav__items
					li.nav__item
						a.nav__link(href="#work")
							| Примеры работ
					li.nav__item
						a.nav__link(href="#detail")
							| Заказать лэндинг
					li.nav__item
						a.nav__link(href="#foo")
							| Контакты