.plus.dark
	.container
		.row
			.col-xs-14
				h2.plus__title
					| Чтение
				.plus__divider.divider.divider-yellow
				p.plus__slogan
					| 4 плюса и 1 минус
		.row
			.col-xs-14.col-lg-8
				.read__item.read__item-1
					header.read__item-header.clearfix
						.read__item-icon.pull-left

						.read__item-title
							| Мы продаём, 
							br
							| а не «впариваем». 
					.read__item-desc
						| Наши страницы нацелены на продажу, но мы не ограничиваемся многократным «КУПИ СЕЙЧАС». Выделяем и усиливаем УТП, объясняем преимущества и предлагаем осознанный выбор покупателю. Вы же ориентируетесь на постоянных и довольных клиентов, а не краткосрочную выгоду? Сразу обозначим, что за мошеннические проекты мы не берёмся.
			.col-xs-14.col-lg-5.col-lg-offset-1
				.read__item.read__item-2
					header.read__item-header.clearfix
						.read__item-icon.pull-left

						.read__item-title
							| Говорим на языке 
							br
							| целевой аудитории. 
					.read__item-desc
						| Зачастую директорам компаний пытаются объяснить вещи, понятные школьнику, а с домохозяйками говорят заумными терминами. Мы подберём правильные слова для каждого.
		.row
			.col-xs-14.col-lg-5
				.read__item.read__item-3
					header.read__item-header.clearfix
						.read__item-icon.pull-left

						.read__item-title
							| Создаём только 
							br
							| уникальные проекты. 
					.read__item-desc
						| Мы не используем ни визуальные ни текстовые шаблоны. Каждый наш лэндинг неповторим и привлекателен, а значит потенциальный покупатель не спутает вас с другими и не закроет страницу с первых слов.
			.col-xs-14.col-lg-8.col-lg-offset-1.bg__yellow
				.plus__result
					p.plus__result-slogan
						| Всё это в результате приводит к 
					h3.plus__result-title
						| действительному 
						br.visible-xs
						| росту продаж