.price
	.container
		.row
			.col-xs-14
				.price__container.bg__yellow
					p.price__slogan-1
						| В среднем эти лэндинги "под ключ" обошлись компаниям в
					.price__title
						| 15 000 рублей
					p.price__slogan-2
						| При этом 
						b
							| 75% из них уже давно окупились заказами! 