.work__item.visible
	.work__item-pr
		img(src="images/full-work/1.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/homemaster")
		.work__item-title
			| Хоум Мастер в Белгороде
		a.work__item-link(href="http://homemaster31.ru" target="_blank")
			| http://homemaster31.ru
.work__item.visible
	.work__item-pr
		img(src="images/full-work/2.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/svai")
		.work__item-title
			| Свай Строй в Подмосковье
		a.work__item-link(href="http://строимсваи.рф" target="_blank")
			| http://строимсваи.рф
.work__item.visible
	.work__item-pr
		img(src="images/full-work/3.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/remont")
		.work__item-title
			| РСУ «Ваш дом» в Санкт-Петербурге
		a.work__item-link(href="http://рсувашдом.рф" target="_blank")
			| http://рсувашдом.рф
.work__item
	.work__item-pr
		img(src="images/full-work/4.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/kuzn")
		.work__item-title
			| Гуру Ковки в Москве
		a.work__item-link(href="http://www.gurukovki.ru" target="_blank")
			| http://www.gurukovki.ru
.work__item
	.work__item-pr
		img(src="images/full-work/5.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/mebel")
		.work__item-title
			| Мебель Столицы в Казани
		a.work__item-link(href="http://мебельстолицы.рф" target="_blank")
			| http://мебельстолицы.рф
.work__item
	.work__item-pr
		img(src="images/full-work/6.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/taxi")
		.work__item-title
			| Такси Тайм в Мурманске
		a.work__item-link(href="http://тайм-такси.рф" target="_blank")
			| http://тайм-такси.рф
.work__item
	.work__item-pr
		img(src="images/full-work/7.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/albatros")
		.work__item-title
			| Альбатрос Сервис в Красноярске
		a.work__item-link(href="http://профремонт24.рф" target="_blank")
			| http://профремонт24.рф
.work__item
	.work__item-pr
		img(src="images/full-work/8.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/eco")
		.work__item-title
			| Экостиль в 
			| Нижнем Новгороде
		a.work__item-link(href="http://экостиль-нн.рф" target="_blank")
			| http://экостиль-нн.рф
.work__item
	.work__item-pr
		img(src="images/full-work/9.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="/project/svayag")
		.work__item-title
			| Сваяж в 
			| Нижнем Новгороде
		a.work__item-link(href="http://svayag.ru" target="_blank")
			| http://svayag.ru
