.work__item
	.work__item-pr
		img(src="images/work/lg/1.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/1.jpg")
		.work__item-title
			| Такси Тайм в Мурманске
		a.work__item-link(href="http://тайм-такси.рф")
			| http://тайм-такси.рф
.work__item
	.work__item-pr
		img(src="images/work/lg/2.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/2.jpg")
		.work__item-title
			| Экостиль в 
			| Нижнем Новгороде
		a.work__item-link(href="http://экостиль-нн.рф")
			| http://экостиль-нн.рф
.work__item
	.work__item-pr
		img(src="images/work/lg/3.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/3.jpg")
		.work__item-title
			| Хоум Мастер в Белгороде
		a.work__item-link(href="http://homemaster31.ru")
			| http://homemaster31.ru
.work__item
	.work__item-pr
		img(src="images/work/lg/4.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/4.jpg")
		.work__item-title
			| Мебель Столицы в Казани
		a.work__item-link(href="http://мебельстолицы.рф")
			| http://мебельстолицы.рф
.work__item
	.work__item-pr
		img(src="images/work/lg/5.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/5.jpg")
		.work__item-title
			| Гуру Ковки в Москве
		a.work__item-link(href="http://www.gurukovki.ru")
			| http://www.gurukovki.ru
.work__item
	.work__item-pr
		img(src="images/work/lg/6.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/6.jpg")
		.work__item-title
			| РСУ «Ваш дом» в Санкт-Петербурге
		a.work__item-link(href="http://рсувашдом.рф")
			| http://рсувашдом.рф
.work__item
	.work__item-pr
		img(src="images/work/lg/7.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/7.jpg")
		.work__item-title
			| Свай Строй в Подмосковье
		a.work__item-link(href="http://строимсваи.рф")
			| http://строимсваи.рф
.work__item
	.work__item-pr
		img(src="images/work/lg/8.jpg", alt="")
	.work__item-body
		a.work__item-loupe(href="images/full-work/8.jpg")
		.work__item-title
			| Альбатрос Сервис в Красноярске
		a.work__item-link(href="http://профремонт24.рф")
			| http://профремонт24.рф