doctype html
html(lang="ru")
	head
		include jade/head.jade
		include jade/scripts.jade
		include jade/metrika.html
	body
		include jade/nav.jade
		include jade/main.jade
		include jade/cause.jade
		include jade/plus.jade
		include jade/minus.jade
		include jade/work.jade
		include jade/price.jade
		include jade/detail.jade
		include jade/foo.jade
		include jade/hidden.jade
